<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        img {
    max-width: 100%;
    height: auto;
    width: auto;
}
    </style>
</head>
<body>

    <div class="container jumbotron text-center" style="background: white">
    <img src="~/Content/500.jpg" />
        </div>
</body>
</html>
