/* styles for validation helpers */
.valid { border: 1px solid green; }

.myblock {
    display: block;
    max-width: 400px;
}

.mylabel { text-align: right; }

.myPadding {     margin-top: 7px;
    }
.labelPadding {
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
}
.rememberPadding {
    text-align: left;
    padding-left: 2px;
}

.green { color: green; }

.red { color: red; }

.field-validation-error { color: #b94a48; }

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }

.validation-summary-valid { display: none; }

  .menu {
        display: none;
    }

    tr:hover .menu {
        display: inline;
    }