@model IEnumerable<RFoundation.BLL.Interfaces.Entities.BllUser>


@if (Model == null)
{
    <div class="text-center"><h2>Can't find anybody:(</h2></div>
}
    @if (Model != null)
    {
        <table id="myTable" class="col-md-8 table table-striped tablesorter table-hover">
            <thead class="thead-default">
                <tr>
                    <th class="header text-center">Login</th>
                    <th class="header text-center">First Name</th>
                    <th class="header text-center">Last Name</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var friend in Model)
                {

                    <tr>
                        <td class="container text-center col-sm-6">
                            @friend.Login
                            <div class="menu ">
                                @*@Ajax.ActionLink("", "AddToFriend", "Friend", new { friendId = friend.Id }, new AjaxOptions { HttpMethod = "POST" })*@


                                @Html.ActionLink(" ", "AddToFriends", "Friend", new { friendid = friend.Id }, new { @class = "glyphicon glyphicon-plus", style = "color: green;" })

                            </div>
                        </td>
                        <td class="text-center">@friend.FirstName</td>
                        <td class="text-center">@friend.FirstName</td>

                    </tr>

                    @*@using (Ajax.BeginForm("Upload","Home",FormMethod.Post, new AjaxOptions() { UpdateTargetId = "results" }, new {enctype = "multipart/form-data" }))
                        {
                            <label class="btn btn-default btn-file upload">
                                Browse <input type="file" name="upload" style="display: none;">
                            </label>

                            <label class="btn btn-default btn-file">
                                Download<input id="upload" type="submit" value="Загрузить" style="display: none;" />
                            </label>
                        }*@
                }

            </tbody>
        </table>
    }

