@model List<RFoundation.BLL.Interfaces.Entities.BllUser>

@{
    ViewBag.Title = "title";
}


<div class="container jumbotron" style="background: white">
    @if (Model.Count < 1)
    {
        <div class="text-center">
            <h2>You do not have any Friend Offers</h2>
        </div>
    }
    else
    {
        <div id="offerers">
            <ul>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            @item.Email
                            <p>ID</p>
                            @item.Id
                            @Ajax.ActionLink("Add", "AddToFriends", new { friendId = item.Id }, new AjaxOptions { HttpMethod = "POST" })
                        </li>
                    }
                }
            </ul>
        </div>
    }
</div>