@model List<RFoundation.BLL.Interfaces.Entities.BllUser>

<div class="container jumbotron" style="background: white">

    <div class="list-group">
        @if (Model != null)
        {
            foreach(var friend in Model)
            {
                @Html.ActionLink(@friend.Login, "ShareFile2", "File", new {friendId = friend.Id, fileid = ViewBag.fileId, smth="xxx"}, new {id=@friend.Id, @class = "list-group-item"})

             }
        }



    </div>
</div>
<script src="~/Scripts/tableSorter/jquery.tablesorter.js"></script>
<script>

    $(document)
        .ready(function() {
            $("#myTable").tablesorter();
        });
    $(document)
        .ready(function() {
            $("#myTable")
                .tablesorter({
                    sortList: [
                        [0, 0],
                        [1, 0]
                    ]
                });
        });
</script>