@model dynamic

@{
   
}
<style>
    img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
</style>
<div class="container jumbotron text-center" style="background: white">
    <img src="~/Content/dog404.png" />
</div>